<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisation simple des données</title>
</head>
<body>
    <h1>Quelques données à afficher</h1>
    <p>Il y a <b>{{ offre }}</b> articles depuis ce flux rss.</p>
    <p>Voici le titre des articles de ce flux rss :</p>
	<!--{{ tout }}
	<a href="{{ lien }}" target="_blank">-->
    {% for elem in titre %}
    {{ elem }}
    {% endfor %}
    <p>Et voici les liens des articles :</p>
	{% for elem in lien %}
	{{ elem }}
	{% endfor %}
	
</body>
</html>