{% extends "layout.html" %}

{% block content %}

  <div id="home">
      <h2> Les articles {{ offre }} </h2>
      <ul>
          {% for elt in data %}
          <li>
            <p>
               <h6> {{ elt[0] }}</h6>
               
             <h4> {{elt[1]}} </h4>          
             <!-- <p> {{elt[3]}} </p> -->
              <a href="{{elt[4]}}" target="blank">lire l'article originel</a>
              <span>  {{ elt[2] }} </span>
            </p>
          </li>
          {% endfor %}
      </ul>
  </div>

{% endblock content %}
