
        <div id="menu_sources">
            <h4>Liste des flux RSS :</h4> 
            <!-- Affichage des sites principaux -->
            <form class="form-check" action='/menu_sources' method="POST">
                <ul>
                    {% for elem in types %} 
                    <li style="list-style-type: none;"></li>
                        <input class="form-check-input" type="checkbox" name="check" value=" {{ elem[0] }} " id="defaultCheck1">
                        {{ elem[0] }}
                    </li>                
                    {% endfor %}
                </ul>
                <button type="submit" value="submit" class="btn btn-outline-primary btn-lg btn-block btn-sm">Supprimer la sélection</button>           
            </form>  
        </div>
        