<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <title>layout</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-12">
                    {% include "pages/ajout_source.html" %}
                    </div>
                    <div class="col-md-12">
                    {% include "pages/menu_sources.html" %}
                    </div>
                </div>
                <div class="col-md-7">
                    {% block content %}

                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>


